---
interface Props {
    title: string;
}

const { title } = Astro.props;
---


<!-- header -->
<div class="flex flex-row max-w-[1440px] mt-16 md:mt-20 mx-auto">
    <div class="grow h-0.5 bg-line mt-4"/>
    <div class="flex-none flex flex-row justify-start w-full max-w-[1300px]">
        <div class=" min-w-3 md:w-7 h-0.5 bg-line mt-4" />
        <div class="flex-1 flex flex-row min-w-[300px] md:max-w-[414px]">
            <h3 class="text-nowrap pr-2 md:pr-3 h-full pt-[3px] text-lg md:text-base text-subtle_blue font-semibold pl-1 md:pl-2">
                {title}
            </h3>
            <div class="grow bg-line h-0.5 mt-4" />
        </div>
        <div class="grow mt-3.5 max-w-[300px]" />
    </div>
    <div class="grow"></div>
</div>
