---
import Layout from '../layouts/Layout.astro';
import {FakerMaker3000} from "../components/fakermaker/FakerMaker3000";
import {AvailableSchemaOptions} from "../components/fakermaker/types/AvailableSchemaOptions";

const temp = {
    "fakers": [
        "Harry Potter",
        "Lord of the Rings",
        "Rick and Morty",
        "Game of Thrones"
    ],
    "makers": [ // order matters on this
        {"name" : "name", "options" : ["first", "last", "company"]},
        {"name" : "email"},
        {"name" : "phone", "options" : ["with country code"]},
        {"name" : "address 1"},
        {"name" : "address 2"},
        {"name" : "state"},
        {"name" : "city"},
        {"name" : "zip"},
        {"name" : "price", "options" : ["start", "end"]},
        {"name" : "date", "options" : ["start", "end"]}
    ]
}

const availableSchemaOptions : AvailableSchemaOptions = temp // await fetch('https://example.com/movies.json').then((response) =>
//     response.json()
// );


---

<Layout title="FakerMaker3000">
    <main>
        <div class="w-full mt-16 max-w-[1300px] mx-auto px-5 md:px-10">
            <h1 class="text-4xl font-black text-light_blue">
                fakerMaker3000
            </h1>
            <h5 class="text-subtle_blue text-xs mt-1 ml-1">powered by <a class="font-semibold underline" href="https://github.com/datafaker-net/datafaker">Datafaker</a></h5>
        </div>

        <div class="w-full mt-5 mb-14 max-w-[1300px] mx-auto px-5 md:px-10">

            <p class="text-light_blue text-sm">
                Generate random fake data for whatever you want.<br/>
                You can select the same maker multiple times.<br />
                <br />
                // UNDER CONSTRUCTION // <br />
                // LAST UPDATED SEPT-1-2024 //
            </p>

        </div>

        <FakerMaker3000 availableSchemaOptions={availableSchemaOptions} client:load />

    </main>
</Layout>
