---
import Layout from '../layouts/Layout.astro';
---

<Layout title="FakerMaker3000">
    <main>
        <div class="text-subtle_blue text-xs mt-5 mx-10">projects > fakerMaker3000</div>
        <div class="mt-10 mx-10">
        <h1 class="text-4xl font-black text-light_blue">
            fakerMaker3000
        </h1>
        <h5 class="text-accent_pink text-xs">powered by <a class="font-semibold underline" href="https://github.com/datafaker-net/datafaker">Datafaker</a></h5>
            <p class="text-subtle_blue text-sm mt-5">
                Generate random fake data for whatever you want.<br/>
                Import a schema using SQL or a Java JPA model. <br/>
                Export data to csv or generate a java class for your
                data.
            </p>
        </div>
    </main>
</Layout>
