---
import Layout from '../layouts/Layout.astro';
import {FakerMaker3000} from "../components/fakermaker/FakerMaker3000";
import type {Schema} from "../components/fakermaker/types/Schema";

const temp: Schema = {
    "fakers": [
        {"fakerName": "Harry Potter", "selected": true},
        {"fakerName": "Lord of the Rings"},
        {"fakerName": "Rick and Morty"},
        {"fakerName": "Game of Thrones"},
    ],
    "availableMakers": [ // order matters on this
        {"type" : "NAME", "options" : ["first", "last", "company"]},
        {"type" : "EMAIL"},
        {"type" : "PHONE", "options" : ["with country code"]},
        {"type" : "ADDRESS"},
        {"type" : "ADDRESS_2"},
        {"type" : "STATE"},
        {"type" : "CITY"},
        {"type" : "ZIP"},
        {"type" : "PRICE", "options" : ["start", "end"]},
        {"type" : "DATE", "options" : ["start", "end"]}
    ],
    "selectedMakers": []
}

const availableSchemaOptions : Schema = temp


---

<Layout title="FakerMaker3000">
    <main>
        <div class="group w-full mt-16 max-w-[1300px] mx-auto px-5 md:px-10">
            <h1 class="text-4xl font-black text-light_blue">
                fakerMaker3000
            </h1>
            <h5 class="text-subtle_blue text-xs mt-1 ml-1">powered by <a class="font-semibold underline group-hover:text-accent_pink" href="https://github.com/datafaker-net/datafaker" target="_blank">Datafaker</a></h5>
        </div>

        <div class="w-full mt-5 mb-14 max-w-[1300px] mx-auto px-5 md:px-10">

            <p class="text-light_blue text-sm">
                Generate random fake data for whatever you want.<br/>
                You can select the same maker multiple times.<br />
                <br />
                <span class="text-accent_pink font-black">// UNDER CONSTRUCTION //</span> <br />
            </p>

        </div>

        <FakerMaker3000 client:load availableSchemaOptionsFromServer={availableSchemaOptions} />

    </main>
</Layout>
