---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="mx-10">
		<h1 class="text-7xl font-black text-red-200 mt-[10vh]">Hi.</h1>
		<h1 class="text-2xl font-black text-red-200 mt-[15vh]">
			My name is Elias Witt.
		</h1>
		<p class="text-red-500">testing using astro</p>
	</main>
</Layout>
