---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elias Witt">
	<main>
		<div class="w-full mt-16 max-w-[1300px] mx-auto px-5 md:px-10">
			<h1 class="text-7xl font-bold text-accent_pink mt-24 md:mt-[18vh]">
				Hi.
			</h1>
			<h1 class="text-2xl font-semibold text-light_blue mt-10 md:mt-20">
				My name is Elias Witt.
			</h1>
			<p class="text-subtle_blue text-sm mt-5">I'm testing out astro, i'll finish this soon.</p>
		</div>

	</main>
</Layout>
