---
import Layout from '../layouts/Layout.astro';
---

<Layout title="FakerMaker3000">
    <main class="mx-10">
        <div class="text-subtle_blue">
            blog will go here
        </div>
    </main>
</Layout>
