---
import Layout from '../layouts/Layout.astro';
---

<Layout title="portfolio">
    <main>
        <div class="w-full mt-16 max-w-[1300px] mx-auto px-10">
            <h1 class="text-light_blue text-4xl font-bold">
                projects
            </h1>
            <h5 class="text-light_blue text-xs mt-3">some of the things I've made and lessons I've learned</h5>
        </div>

        <!-- big container -->
        <div class="flex flex-row max-w-[1440px] mt-24 mx-auto">
            <div class="grow h-0.5 bg-line mt-4"/>
            <div class="flex-none flex flex-row justify-start w-full max-w-[1300px]">
                <div class="w-7 h-0.5 bg-line mt-4" />
                <a class="flex-none flex flex-row group pr-3 h-full pt-[3px] text-base text-accent_purple rounded-r-md pl-3"
                   href="https://github.com/realwitt" target="_blank">
                    <h3 class="group-hover:text-accent_pink transition duration-500">
                        fakerMaker3000
                    </h3>
                    <svg class="fill-accent_purple group-hover:fill-accent_pink transition duratino-500 h-5 w-min ml-3 mt-[1px]" xmlns="http://www.w3.org/2000/svg" width="98" height="96" viewBox="0 0 98 96">
                        <path class="cls-1"
                              d="M48.85,0A49.27,49.27,0,0,0,33.4,95.91c2.43.49,3.32-1.06,3.32-2.37,0-1.14-.08-5.05-.08-9.12-13.59,2.93-16.42-5.87-16.42-5.87-2.18-5.7-5.42-7.17-5.42-7.17-4.45-3,.32-3,.32-3,4.94.32,7.53,5,7.53,5,4.36,7.49,11.4,5.38,14.23,4.07A10.48,10.48,0,0,1,40,70.89c-10.84-1.14-22.25-5.38-22.25-24.28a19.24,19.24,0,0,1,5-13.2c-.49-1.22-2.19-6.28.48-13,0,0,4.13-1.3,13.43,5.05a47.51,47.51,0,0,1,12.21-1.63,47,47,0,0,1,12.22,1.63c9.3-6.35,13.42-5.05,13.42-5.05,2.67,6.76,1,11.82.49,13a18.91,18.91,0,0,1,5,13.2c0,18.9-11.4,23.06-22.32,24.28C59.45,72.44,61,75.37,61,80c0,6.6-.08,11.9-.08,13.52,0,1.31.89,2.86,3.31,2.37A49.27,49.27,0,0,0,48.85,0Z"/>
                    </svg>
                </a>
                <div class="flex-1 bg-line h-0.5 mt-4 min-w-[100px] max-w-[600px]" />
                <div class="grow mt-3.5 w-ful" />
            </div>
            <div class="grow"></div>
        </div>

    </main>
</Layout>
