---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <main class="pb-20">
        <div class="w-full mt-10 max-w-[1300px] mx-auto px-5 md:px-10">
            <h1 class="text-light_blue text-3xl md:text-4xl font-bold">
                projects
            </h1>
        </div>

        <!-- header -->
        <div class="flex flex-row max-w-[1240px] mt-16 mx-auto">
            <div class="grow h-0.5 bg-line mt-4"/>
            <div class="flex-none flex flex-row justify-start w-full max-w-[1300px]">
                <div class="min-w-3 md:w-7 h-0.5 bg-line mt-4" />
                <a class="flex-none flex flex-row group pr-2 md:pr-3 h-full pt-[3px] text-lg md:text-base text-accent_purple font-black md:font-bold rounded-r-md pl-1 md:pl-2"
                   href="https://github.com/realwitt/fakermaker" target="_blank">
                    <h3 class="group-hover:text-accent_pink transition duration-500">
                        fakermaker
                    </h3>
                    <svg class="fill-accent_purple group-hover:fill-accent_pink transition duration-500 w-6 h-6 md:w-5 md:h-5 ml-3 md:ml-3 mt-[1px]" xmlns="http://www.w3.org/2000/svg" width="98" height="96" viewBox="0 0 98 96">
                        <path class="cls-1"
                              d="M48.85,0A49.27,49.27,0,0,0,33.4,95.91c2.43.49,3.32-1.06,3.32-2.37,0-1.14-.08-5.05-.08-9.12-13.59,2.93-16.42-5.87-16.42-5.87-2.18-5.7-5.42-7.17-5.42-7.17-4.45-3,.32-3,.32-3,4.94.32,7.53,5,7.53,5,4.36,7.49,11.4,5.38,14.23,4.07A10.48,10.48,0,0,1,40,70.89c-10.84-1.14-22.25-5.38-22.25-24.28a19.24,19.24,0,0,1,5-13.2c-.49-1.22-2.19-6.28.48-13,0,0,4.13-1.3,13.43,5.05a47.51,47.51,0,0,1,12.21-1.63,47,47,0,0,1,12.22,1.63c9.3-6.35,13.42-5.05,13.42-5.05,2.67,6.76,1,11.82.49,13a18.91,18.91,0,0,1,5,13.2c0,18.9-11.4,23.06-22.32,24.28C59.45,72.44,61,75.37,61,80c0,6.6-.08,11.9-.08,13.52,0,1.31.89,2.86,3.31,2.37A49.27,49.27,0,0,0,48.85,0Z"/>
                    </svg>
                </a>
                <div class="flex-1 bg-line h-0.5 mt-4 min-w-[25px] max-w-[50px]" />
                <a class="group hover:border-accent_pink transition duration-500 text-accent_purple text-sm bg-dark_blue md:text-x mt-0.5 font-black md:font-bold text-nowrap border py-1 px-1.5 mx-1.5 rounded border-accent_purple stroke-accent_purpleA" target="_blank" href="https://fakermaker.fm">
                    <h4 class="group-hover:text-accent_pink transition duration-500">visit fakermaker.fm |></h4>
                </a>
                <div class="grow bg-line h-0.5 mt-4 w-full max-w-[300px]" />
            </div>
        </div>

        <div class="max-w-[1300px] px-5 md:px-10 mx-auto mt-6 md:mt-4">
            <h3 class="text-base md:text-sm font-black md:font-semibold text-subtle_blue mt-7 md:mt-8">overview</h3>
            <p class="text-sm md:text-x text-light_blue max-w-[700px]">Fakermaker allows you to use pop culture references from movies and tv shows to download realistic fake data in CSV format.</p>

            <h3 class="text-base md:text-sm font-black md:font-semibold text-subtle_blue mt-8">stack</h3>
            <ul role="list" class="text-sm md:text-x marker:text-light_blue list-disc pl-5 md:pl-3.5 text-light_blue">
                <li>Kotlin, Spring</li>
                <li>Astro, Vue, TypeScript, tailwindcss</li>
                <li>Cloudflare</li>
                <li>Docker</li>
                <li>Raspberry Pi 5</li>
            </ul>

            <h3 class="text-base md:text-sm font-black md:font-semibold text-subtle_blue mt-7 md:mt-8">motivation</h3>
            <p class="text-sm md:text-x text-light_blue max-w-[700px]">I liked making fake data at work for testing our Spring Boot models and thought this would be a fun project to make a portfolio piece.</p>

            <h3 class="text-base md:text-sm font-black md:font-semibold text-subtle_blue mt-8">things learned</h3>
            <ul role="list" class="text-sm md:text-s marker:text-light_blue list-disc pl-5 md:pl-3.5 text-light_blue max-w-[800px]">
                <li class="mb-4">My first iteration of the server had issues with the heap not clearing
                    memory correctly after API calls got made, so I had to do some profiling and optimizing. I ended up multithreading the app using Kotlin coroutines
                    and caching the address and location data, which were expensive operations. The server really took off in speed after that, it was crazy.</li>
                <li class="mb-4">Getting the server to accept the payload was originally tricky, since the payload can change on every request, but after making custom serializers
                    for my data shapes, I was able to parse everything without a problem.
                </li>
                <li class="mb-4">Kotlin really forces you to handle nulls. Coming from the Java world, I wasn't used to that. I've really come to love how Kotlin forces you
                    to be null safe in making things. Data classes are super nice.
                </li>
                <li class="mb-4">For deployment, I knew the JVM is hungry but didn't realize just how hungry. The base tier droplet with 1vCPU and 512mb RAM was laughable, and it seemed like overkill paying $20 for 2vCPUs and 4gb of RAM for an app
                    no one would use. I decided to self host it on a Raspberry Pi 5 I had laying around, but I didn't feel super secure about this so I went and bought a $500 Dream Machine Pro... after this new toy arrived I was able to isolate the Pi to its own VLAN.
                </li>
                <li class="mb-4">I realized I could use Cloudflare tunnels for free and not expose my personal IP, and it was less for me to worry about. After battling a dumb CORS error for many hours and fixing one line of code, I finally got it all working.</li>
                <li class="mb-4">The frontend was fun, but I quickly learned React has better TypeScript support than Vue. Setting up Tanstack to work with Vue was kinda annoying and for future projects I'm definitely sticking to React.</li>
                <li class="mb-4">I FINISHED A PROJECT. I have a terrible habit of starting stuff but never finishing it, so this felt really good (mostly) finishing this project. There's still lots I would change,
                    but I wanted to get back to working on my big side project, plaza.dev.
                </li>
            </ul>

            <h3 class="text-base md:text-sm font-black md:font-semibold text-subtle_blue mt-7 md:mt-8">regrets</h3>
            <p class="text-sm md:text-x text-light_blue max-w-[700px]">Grug have many regrets. Should have used React. Should have used Go.</p>


            <div class="flex flex-row max-w-[1240px] mt-16 mx-auto">
                <div class="grow h-0.5 bg-[#32CD4C] mt-4"/>
                <div class="flex-none flex flex-row justify-start w-full max-w-[1300px]">
                    <div class="min-w-3 md:w-7 h-0.5 bg-[#32CD4C]  mt-4" />
                    <div class="flex-none flex flex-row group pr-2 md:pr-3 h-full pt-[3px] text-lg md:text-base text-white font-black md:font-bold rounded-r-md pl-1 md:pl-2" >
                        <h3 class="group-hover:text-accent_pink transition duration-500">
                            Plaza
                        </h3>
                    </div>
                    <div class="flex-1 bg-[#32CD4C] h-0.5 mt-4 min-w-[25px] max-w-[50px]" />
                    <a class="group hover:border-accent_pink transition duration-500 text-white text-sm bg-dark_blue md:text-x mt-0.5 font-black md:font-bold text-nowrap border py-1 px-1.5 mx-1.5 rounded border-[#32CD4C] stroke-accent_purpleA" target="_blank" href="https://plaza.dev">
                        <h4 class="group-hover:text-accent_pink transition duration-500">check it out |></h4>
                    </a>
                    <div class="grow bg-[#32CD4C] h-0.5 mt-4 w-full max-w-[300px]" />
                </div>
            </div>

            <p class="text-sm md:text-x text-white max-w-[700px] mt-5">Blazingly fast, beautifully designed. Check it out!</p>

        </div>

    </main>
</Layout>
