---
---
<!-- 'murica -->
<!-- stupid windows won't read this css right -->
<div class="cursor-default group text-sm font-black md:relative absolute left-5 md:left-0 -top-[0.5px] md:top-0">
    <p class="text-dark_blue mt-1 md:-mt-0.5 ml-16 -mb-5">
        <span class="invisible">a</span><span class="text-subtle_blue group-hover:text-blue-400 transition duration-50">_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500 ">__</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500 ">_</span>
    </p>
    <p class="mt-1 ml-16 -mb-5">
        <span class="invisible">a</span><span class="text-subtle_blue group-hover:text-blue-400 transition duration-50">_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-white">_</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-white ">__</span>
    </p>
    <p class="text-subtle_blue mt-1 ml-16 -mb-6 relative">
        <span class="group-hover:text-blue-400 transition duration-500">@_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500">__</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500">_</span>
    </p>
    <p class="text-subtle_blue mt-2 ml-16 -mb-6">
        <span class="transition duration-500 text-line group-hover:text-white font-black">_</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-white">__</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-white">__</span>
    </p>
    <p class="text-subtle_blue mt-2 ml-16 -mb-3">
        <span class="transition duration-500 text-line group-hover:text-red-500 font-black">__</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-red-500">__</span><span class="absolute invisible hidden">.</span><span class="text-line group-hover:text-red-500">_</span>
    </p>
</div>
