---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Fullstack Software Engineer"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/logo-dark-on-light.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="bg-dark_blue">
<!-- navbar -->
<div class="flex mx-10 my-10 h-10">
    <!-- logo -->
    <div class="relative w-min top-0 left-0">
        <a class="group" href="/">
            <!-- svg ring -->
            <svg class="fill-subtle_blue transition duration-500 group-hover:fill-accent_purple absolute h-10 w-min" id="ring" data-name="logo-ring" xmlns="http://www.w3.org/2000/svg"
                 width="114.59" height="67.49"
                 viewBox="0 0 114.59 67.49">
                <path class="cls-1"
                      d="M101.58,4.17A8.84,8.84,0,0,1,110.42,13V39.88c0,5.81-.88,13-6,18.12-3.87,3.86-9,5.32-14.33,5.32H27.6c-5.09,0-11-.67-15.79-4a17.15,17.15,0,0,1-5.39-6.14A21.73,21.73,0,0,1,4.17,43V24.47A21.71,21.71,0,0,1,6.42,14.34,17,17,0,0,1,11.81,8.2c4.78-3.34,10.7-4,15.79-4h74m0-4.17h-74C20,0,14,1.57,9.42,4.78a21.21,21.21,0,0,0-6.7,7.63A26,26,0,0,0,0,24.47V43A25.91,25.91,0,0,0,2.72,55.09a21.13,21.13,0,0,0,6.7,7.63C14,65.93,20,67.49,27.6,67.49H90.13c7.12,0,12.93-2.2,17.27-6.55,4.84-4.83,7.19-11.72,7.19-21.06V13a13,13,0,0,0-13-13Z"/>
            </svg>

            <!-- svg letters -->
            <svg class="fill-subtle_blue transition duration-500 group-hover:fill-accent_pink absolute h-10 w-min" id="letters" data-name="logo-letters" xmlns="http://www.w3.org/2000/svg"
                 width="114.59" height="67.49"
                 viewBox="0 0 114.59 67.49">
                <path class="cls-1"
                      d="M90.13,55.64c-4.88,0-8.14-.76-9.34-4.46-1.19,3.7-4.23,4.46-9,4.46h-.22c-9.23,0-11.94-5.87-11.94-15.1V12.37a.5.5,0,0,1,.5-.5h7.47a.5.5,0,0,1,.5.5v28.5c0,5.64.86,7.38,4.34,7.38,2.93,0,4.13-1.74,4.13-7.38V12.37a.5.5,0,0,1,.5-.5h7.58a.5.5,0,0,1,.5.5V41.19c0,5.65,1,7.06,4.23,7.06,3.59,0,4.13-1.52,4.13-7.06V12.37a.5.5,0,0,1,.5-.5h7.58a.5.5,0,0,1,.5.5V40.54C102.08,49.77,99.37,55.64,90.13,55.64ZM51.65,46.41H27c-5.54,0-7.06-.55-7.06-4.13C19.89,39,21.3,38,27,38H50.78a.5.5,0,0,0,.5-.5V30a.51.51,0,0,0-.5-.5H27.28c-5.65,0-7.39-1.19-7.39-4.13,0-3.47,1.74-4.34,7.39-4.34h23.5a.5.5,0,0,0,.5-.5V13a.5.5,0,0,0-.5-.5H27.6c-9.23,0-15.09,2.71-15.09,12v.21c0,4.78.76,7.82,4.45,9-3.69,1.19-4.45,4.45-4.45,9.34,0,9.23,5.86,12,15.09,12H54a.26.26,0,0,0,.22-.13.25.25,0,0,0,0-.24A24.57,24.57,0,0,1,51.65,46.41Z"/>
            </svg>
        </a>
    </div>
    <div class="flex-1" />
    <!-- links -->
    <a class="text-subtle_blue mr-10" href="/portfolio">portfolio</a>
    <a class="text-subtle_blue" href="/musings">musings</a>
</div>

<slot/>

</body>
</html>
<style is:global>
    html {
        font-family: "JetBrains Mono", sans-serif;
    }

    code {
        font-family: JetBrains Mono,
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
</style>
