---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Fullstack Software Engineer"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/logo-dark-on-light.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="bg-dark_blue min-h-[100vh]">
<!-- navbar -->
<div class="flex md:mt-3 mb-2 h-10 max-w-[1300px] mx-auto px-10">
    <!-- logo -->
    <div class="relative w-min top-1 md:left-0 right-5 z-10">
        <a class="group" href="/">
            <!-- shadow -->
            <svg class="absolute fill-transparent group-hover:fill-very_dark_blue transition duration-500 md:h-10 w-12" xmlns="http://www.w3.org/2000/svg" width="97.35" height="51.55"
                 viewBox="0 0 97.35 51.55">
                <path class="cls-1"
                      d="M0,39C0,48.18,5.86,50.9,15.1,50.9H41.51a.23.23,0,0,0,.18-.08l6.44-6.43c1.47,4.52,4.73,7.16,10.93,7.16h.21c2.92,0,5.2-.28,6.79-1.35a4.91,4.91,0,0,0,.79-.64l1.72-1.72c1.38,3,4.52,3.71,9.06,3.71,3.85,0,6.57-1,8.43-2.88l7.77-7.78c2.6-2.6,3.52-6.83,3.52-12.22V.5a.52.52,0,0,0-.11-.32A.5.5,0,0,0,96.85,0H89.27a.51.51,0,0,0-.35.15l-.09.08L81.14,7.92a.51.51,0,0,0-.14.36V34.34a14.77,14.77,0,0,1-.59-5V.5A.52.52,0,0,0,80.3.18.5.5,0,0,0,79.91,0H72.33A.49.49,0,0,0,72,.15L64.2,7.92a.51.51,0,0,0-.15.36V34.46A14.47,14.47,0,0,1,63.36,29V.5a.52.52,0,0,0-.11-.32A.53.53,0,0,0,62.86,0H55.39A.51.51,0,0,0,55,.15L47.26,7.92a.48.48,0,0,0-.15.36V35.67c-.07-.38-.13-.76-.18-1.13H22.22A14.84,14.84,0,0,1,16.89,34H38.27a.48.48,0,0,0,.35-.14L46.4,26h0a.51.51,0,0,0,.15-.35V18.1a.49.49,0,0,0-.5-.5H22.55a14.34,14.34,0,0,1-5.26-.7h21a.48.48,0,0,0,.35-.14L46.4,9a.51.51,0,0,0,.15-.36V1.15a.47.47,0,0,0-.11-.31.49.49,0,0,0-.39-.19H22.88c-5.39,0-9.62.92-12.22,3.52L2.88,12C1,13.81,0,16.53,0,20.38v.21c0,4.46.66,7.4,3.74,8.75L2.07,31C.41,32.67,0,35.38,0,39Z"/>
            </svg>
            <!-- letters -->
            <svg class="absolute fill-subtle_blue group-hover:fill-accent_pink transition duration-500 md:h-10 w-12" xmlns="http://www.w3.org/2000/svg" width="97.35" height="51.55"
                 viewBox="0 0 97.35 51.55">
                <path class="cls-1"
                      d="M85.41,43.77c-4.89,0-8.15-.76-9.34-4.45-1.2,3.69-4.24,4.45-9,4.45h-.22c-9.23,0-11.94-5.86-11.94-15.1V.5a.5.5,0,0,1,.5-.5h7.47a.5.5,0,0,1,.5.5V29c0,5.65.87,7.39,4.34,7.39,2.94,0,4.13-1.74,4.13-7.39V.5a.5.5,0,0,1,.5-.5h7.58a.5.5,0,0,1,.5.5V29.33c0,5.64,1,7.06,4.24,7.06,3.58,0,4.12-1.52,4.12-7.06V.5a.5.5,0,0,1,.5-.5h7.58a.5.5,0,0,1,.5.5V28.67C97.35,37.91,94.64,43.77,85.41,43.77ZM46.93,34.54H22.22c-5.54,0-7.06-.54-7.06-4.13,0-3.26,1.42-4.23,7.06-4.23H46.05a.5.5,0,0,0,.5-.5V18.1a.5.5,0,0,0-.5-.5H22.55c-5.65,0-7.39-1.2-7.39-4.13,0-3.48,1.74-4.35,7.39-4.35h23.5a.5.5,0,0,0,.5-.5V1.15a.5.5,0,0,0-.5-.5H22.88c-9.24,0-15.1,2.72-15.1,12v.22c0,4.78.76,7.82,4.45,9C8.54,23,7.78,26.28,7.78,31.17c0,9.23,5.86,11.95,15.1,11.95H49.29a.25.25,0,0,0,.22-.37A24.32,24.32,0,0,1,46.93,34.54Z"/>
            </svg>
        </a>

    </div>

    <!-- 'murica -->
    <div class="cursor-default group text-sm font-black md:relative absolute left-5 md:left-0 -top-[0.5px] md:top-0">
        <p class="text-dark_blue mt-1 md:-mt-0.5 ml-16 -mb-5">
            <span class="invisible">a</span><span class="text-subtle_blue group-hover:text-blue-400 transition duration-50">_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500 ">__</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500 ">_</span>
        </p>
        <p class="mt-1 ml-16 -mb-5">
            <span class="invisible">a</span><span class="text-subtle_blue group-hover:text-blue-400 transition duration-50">_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-white">_</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-white ">__</span>
        </p>
        <p class="text-subtle_blue mt-1 ml-16 -mb-6 relative">
            <span class="group-hover:text-blue-400 transition duration-500">@_</span><span class="absolute invisible">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500">__</span><span class="invisible absolute">.</span><span class="text-line transition font-black duration-500 group-hover:text-red-500">_</span>
        </p>
        <p class="text-subtle_blue mt-2 ml-16 -mb-6">
            <span class="transition duration-500 text-line group-hover:text-white font-black">_</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-white">__</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-white">__</span>
        </p>
        <p class="text-subtle_blue mt-2 ml-16 -mb-3">
            <span class="transition duration-500 text-line group-hover:text-red-500 font-black">__</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-red-500">__</span><span class="absolute invisible">.</span><span class="text-line group-hover:text-red-500">_</span>
        </p>
    </div>

    <div class="flex-1" />
    <!-- links -->
    <a class="text-subtle_blue mr-5 md:mr-10 mt-auto" href="/portfolio">portfolio</a>
    <a class="text-subtle_blue mt-auto" href="/musings">musings</a>
</div>

<!-- line -->
<div class="h-0.5 w-full bg-line mb-1 max-w-[1240px] mx-auto" />

<slot/>

</body>
</html>
<style is:global>
    html {
        font-family: "JetBrains Mono", sans-serif;
    }

    code {
        font-family: JetBrains Mono,
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'JetBrains Mono';
        src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
</style>
